html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0 auto;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  background: #f5f5f5;
  color: #434343;
  text-align: center;
}

.container {
  width: 750px;
  margin: 0px auto;
}

h1 {
  font-family: 'Coda', cursive;
  size: 30px;
  color: black;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

h2 {
  font-family: Georgia, sans-serif;
  color: #ffffff;
  letter-spacing: 1px;
  font-size: 11px;
  font-style: italic;
  -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

h3 {
  color: #434343;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

#skills h3 {
  text-align: center;
}

p {
  font-family: Georgia, sans-serif;
  text-align: center;
  letter-spacing: .3px;
  line-height: 15px;
  -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}



.monogram {
  font-family: 'Coda', cursive;
  font-size: 40px;
  position: relative;
  margin: 40px;
  color: black;
}

#intro {
  font-size: 24px;
  margin: 30px;
}

.column1 {
  float: left;
  margin-top: 50px;
  margin-left: 60px;
}

.column2 {
  float: left;
  margin-left: 30px;
  margin-top: 50px;
  text-align: center;
}

.title {
  text-align: center;
  color: black;
}

.view {
  width: 230px;
  height: 125px;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}
.view .mask, .view .content {
  width: 230px;
  height: 125px;
  position: absolute;
  overflow: hidden;
  text-align: center;
  top: 0;
  left: 0;
}
.view img {
  display: block;
  position: relative;
}
.projects {
  text-align: center;
}

#about {
  position: relative;
  top: 600px;
}

#skills {
  position: relative;
  float: right;
  top: -400px;
}

.contact {
  clear: right;
  position: relative;
  text-align: center;
  margin: 0 auto;
  display: block;
}
